{% extends "base.html" %}
{% block content %}
<h1>My Embedded YouTube Video</h1>
   

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zsTEw1mrMLM?si=gOOo00pcAeDQUUjQ" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mb-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XWuP5Yf5ILI?si=dgVRO-NrBXzbQedA" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}